@keyframes ldio-kf657a25bwo {
	0% {
		opacity: 1;
		backface-visibility: hidden;
		transform: translateZ(0) scale(2.19, 2.19);
	}

	100% {
		opacity: 0;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1, 1);
	}
}

.ldio-kf657a25bwo div>div {
	position: absolute;
	width: 18.400000000000002px;
	height: 18.400000000000002px;
	border-radius: 50%;
	background: #ff0005;
	animation: ldio-kf657a25bwo 0.5076142131979695s linear infinite;
}

.ldio-kf657a25bwo div:nth-child(1)>div {
	left: 153px;
	top: 83px;
	animation-delay: -0.4614674665436087s;
}

.ldio-kf657a25bwo>div:nth-child(1) {
	transform: rotate(0deg);
	transform-origin: 162.2px 92.2px;
}

.ldio-kf657a25bwo div:nth-child(2)>div {
	left: 142px;
	top: 121px;
	animation-delay: -0.41532071988924785s;
}

.ldio-kf657a25bwo>div:nth-child(2) {
	transform: rotate(32.72727272727273deg);
	transform-origin: 151.2px 130.2px;
}

.ldio-kf657a25bwo div:nth-child(3)>div {
	left: 112px;
	top: 146px;
	animation-delay: -0.369173973234887s;
}

.ldio-kf657a25bwo>div:nth-child(3) {
	transform: rotate(65.45454545454545deg);
	transform-origin: 121.2px 155.2px;
}

.ldio-kf657a25bwo div:nth-child(4)>div {
	left: 73px;
	top: 152px;
	animation-delay: -0.32302722658052613s;
}

.ldio-kf657a25bwo>div:nth-child(4) {
	transform: rotate(98.18181818181819deg);
	transform-origin: 82.2px 161.2px;
}

.ldio-kf657a25bwo div:nth-child(5)>div {
	left: 37px;
	top: 136px;
	animation-delay: -0.2768804799261652s;
}

.ldio-kf657a25bwo>div:nth-child(5) {
	transform: rotate(130.9090909090909deg);
	transform-origin: 46.2px 145.2px;
}

.ldio-kf657a25bwo div:nth-child(6)>div {
	left: 16px;
	top: 102px;
	animation-delay: -0.23073373327180435s;
}

.ldio-kf657a25bwo>div:nth-child(6) {
	transform: rotate(163.63636363636363deg);
	transform-origin: 25.200000000000003px 111.2px;
}

.ldio-kf657a25bwo div:nth-child(7)>div {
	left: 16px;
	top: 63px;
	animation-delay: -0.1845869866174435s;
}

.ldio-kf657a25bwo>div:nth-child(7) {
	transform: rotate(196.36363636363637deg);
	transform-origin: 25.200000000000003px 72.2px;
}

.ldio-kf657a25bwo div:nth-child(8)>div {
	left: 37px;
	top: 30px;
	animation-delay: -0.1384402399630826s;
}

.ldio-kf657a25bwo>div:nth-child(8) {
	transform: rotate(229.0909090909091deg);
	transform-origin: 46.2px 39.2px;
}

.ldio-kf657a25bwo div:nth-child(9)>div {
	left: 73px;
	top: 14px;
	animation-delay: -0.09229349330872175s;
}

.ldio-kf657a25bwo>div:nth-child(9) {
	transform: rotate(261.8181818181818deg);
	transform-origin: 82.2px 23.200000000000003px;
}

.ldio-kf657a25bwo div:nth-child(10)>div {
	left: 112px;
	top: 19px;
	animation-delay: -0.04614674665436087s;
}

.ldio-kf657a25bwo>div:nth-child(10) {
	transform: rotate(294.54545454545456deg);
	transform-origin: 121.2px 28.200000000000003px;
}

.ldio-kf657a25bwo div:nth-child(11)>div {
	left: 142px;
	top: 45px;
	animation-delay: 0s;
}

.ldio-kf657a25bwo>div:nth-child(11) {
	transform: rotate(327.27272727272725deg);
	transform-origin: 151.2px 54.2px;
}

.loadingio-spinner-spin-zoly7yfdxo {
	width: 184px;
	height: 184px;
	display: inline-block;
	overflow: hidden;
	background: none;
}

.ldio-kf657a25bwo {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
	/* see note above */
}

.ldio-kf657a25bwo div {
	box-sizing: content-box;
}

.loading {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content:center;
	align-items:center;
}